{
    "singleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": false,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-classnames",
        "prettier-plugin-merge"
    ]
}
